@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html {
    background: linear-gradient(139.73deg, rgb(49, 61, 92) 0%, rgb(61, 42, 84) 100%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    position: relative;
    font-family: "Kanit", sans-serif;
    color: white;
    margin: 50px;
    padding: 0;
    letter-spacing: 2px;
    transition: all .5s ease;
    opacity: 0;
}

.content {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 40px 40px;
    background: rgb(39, 38, 44);
    transition: all .5s ease;
    opacity: 0;
}

.iconRow {
    display: flex;
    justify-content: space-around;
    height: 32px;
    width: 50px;
}

.selectRow {
    display: flex;
    justify-content: space-between;
    width: 240px;
    height: 50px;
}

.selectContainer {
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
    padding: 1em .5em;
    padding-right: 0;
    width: 110px;
    cursor: pointer;
    border: none;
    background: rgb(55, 47, 71);
    color: white;
    border-radius: 16px;
}

.selectContainer:focus {
    outline: none;
}

.selectContainer::-webkit-scrollbar {
    width: 8px;
}

.selectContainer::-webkit-scrollbar-thumb {
    background: rgb(184, 173, 210);
    border-radius: 8px;
}

.selectContainer::-webkit-scrollbar-track {
    box-shadow: rgb(55 47 71) 0px 0px 5px inset;
    border-radius: 10px;
}

option {
    background: rgb(39, 38, 44);
    text-transform: uppercase;
}

.qinput {
    font-family: "Kanit", sans-serif;
    padding: 10px;
    padding-right: 1em;
    width: 210px;
    font-size: 20px;
    border: none;
    border-radius: 16px;
    text-align: right;
    appearance: none;
    background: rgb(55, 47, 71);
    color: rgb(184, 173, 210);
}

.qinput:focus {
    outline: none;
}

.qinput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Kanit", sans-serif;
    width: 220px;
    height: 30px;
    border-radius: 16px;
    text-align: center;
    background: rgb(55, 47, 71);
    padding: 10px;
    color: rgb(184, 173, 210);
    transition: all .2s ease-in-out;
}

.outputAnimation {
    transform: translateX();
    -webkit-transform: rotateX(90deg);
    color: transparent;
}

.button {
    text-align: center;
    font-family: "Kanit", sans-serif;
    padding: 10px 40px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: rgb(31, 199, 212);
    color: white;
    transition: all .2s ease-in-out;
}

.button:hover {
    opacity: 0.7;
}

.buttonAnimation {
    transform: scale();
    -webkit-transform: scale(0.95);
}

